# Distribution is generated
dist/**/* linguist-generated=true

# Enforce Unix newlines
* text=auto eol=lf

# Don't diff or textually merge source maps or dist
*.map binary
dist/**/* binary

# Remove config files
*.config.js linguist-detectable=false

# Ignore some test files
test/**/* linguist-detectable=false
docs/**/* linguist-documentation=true
